@model EntityLayer.About
            <hr class="tm-hr-primary tm-mb-55">
            <div style="display: flex; justify-content:center;">
                <img src="@Model.AboutImg" alt="Image" class="img-fluid w-25">
            </div><br />
            <h1 style="text-align:center">Hakkında</h1><br />
            <p>@Model.AboutContent1</p>
            <p>@Model.AboutContent2</p>
        </div>
    </div>
</div>
