@model EntityLayer.Blog
@{
    ViewData["Title"] = "AddBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
    <div class="bg-white tm-block">
        <div class="row">
            <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Yeni Blog</h2>
            </div>
        </div>
        <div class="row mt-4 tm-edit-product-row">
            <div class="col-xl-7 col-lg-7 col-md-12">
                <form asp-action="AddNewBlog" asp-controller="Blog" method="POST" class="tm-edit-product-form">
                    <div class="input-group mb-3">
                        <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                            Blog
                            Başlığı
                        </label>
                        <input id="name" name="BlogTitle" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                    </div>
                    <div class="input-group mb-3">
                        <label for="description" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 mb-2">İçerik</label>
                        <textarea name="BlogContent" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" rows="3" required></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <label asp-for="CategoryId" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Category</label>
                        <select asp-items="@ViewBag.categories" asp-for="CategoryId" class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="category">
                            <option value="">Kategori Seçin</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label for="date" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                            Oluşturma
                            Tarihi
                        </label>
                        <input id="blog_date" asp-for="BlogDate" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                               data-large-mode="true">
                    </div>
                    <div class="input-group mb-3">
                        <label for="blogimg" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                            Resim
                        </label>
                        <input id="blog_img" asp-for="BlogImg" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7">
                    </div>
                    <div class="input-group mb-3">
                        <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                            <button type="submit" class="btn btn-primary">
                                Ekle
                            </button>
                        </div>
                    </div>
                    <input asp-for="AuthorId" type="hidden" value="1" />
                </form>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-dummy mx-auto">
                    <i class="fas fa-5x fa-cloud-upload-alt" onclick="document.getElementById('fileInput').click();"></i>
                </div>
                <div class="custom-file mt-3 mb-3">
                    <input id="fileInput" type="file" style="display:none;" />
                    <input type="button" class="btn btn-primary d-block mx-auto" value="Upload ..." onclick="document.getElementById('fileInput').click();" />
                </div>
            </div>
        </div>
    </div>
</div>

