@model string
<hr class="tm-hr-primary tm-mb-20">
<div class="row tm-row">
    <div class="col-12">
        <img src="@Model" alt="Image" class="img-fluid w-100">
    </div>
</div>
<hr class="tm-hr-primary tm-mb-55">