@model EntityLayer.Author

<div class="row tm-row tm-mb-40">
    <div class="col-12">
        <div class="mb-4">
            <h1 style="text-align: center;">
                @await Component.InvokeAsync("AuthorById", Model.AuthorId)
            </h1>
            @await Component.InvokeAsync("AboutByAuthor", Model.AboutId)
            @await Component.InvokeAsync("BlogsByAuthor", Model.AuthorId)
            @Html.Partial("/Views/Blog/Footer.cshtml")
